@media (max-width:965px) {
    .main{ 
      flex-direction: column;
}

.nav{
    height: 38vh;
    width: 100%;
    line-height: 5.5vh; 
}

.nav img{
    max-width: 34%;
    margin-top:-4vw;
}

.nav h4{
font-size: 1.8vw;
margin-top: -3vh;
}


}