@media (max-width:550px) {
    .main{ 
      flex-direction: column;
}

.nav{
    height: 55vh;
    max-width: 100%;
    line-height: vh; 
}

.nav img{
    max-width: 70%;
    margin-top:-3vw;
}

.nav h4{
font-size: 4vw;
margin-top: -2vh;
}


}