*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    width: 100%;
    height:700vh;
   
    
}

.main{
    width: 100%; 
    height:auto; 
    /* background-color: brown;     */
    /* display: flex; */
}

.main2{ 
        width: 100%; 
        height:auto; 
        /* background-color: brown;     */
        display: flex;
      
}

.nav{
    background-color: rgba(208,161,79,255);
    height: 700vh;
    width: 25vw;
    text-align: center;
    line-height: 5vh; 
    padding: 4vw;
    position: fixed;
    z-index: 0;  
}

.nav img{
    max-width: 100%;
    
}

.nav h4{
cursor: pointer;
font-size: 1.2vw;
font-weight: 900;
margin-top: 1.5vh;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav h4:hover{
    color: white;
}

 /* .img{
    background-image: url(https://images.unsplash.com/photo-1621605815971-fbc98d665033?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);

    margin-left: 25vw;
}  */

.img {
    background-position: center;
    background-size: cover;
    /* width: 100%; */
    background-attachment: fixed;
    opacity: 0.7;
    margin-left: 25vw;
    width: 100%;
    height: 80vh;
    opacity: 0.7;
    background-color: #d0a14f;
    z-index: 1;
     background-image: url(https://images.unsplash.com/photo-1621605815971-fbc98d665033?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);

}

.img h1{
    color: white;
    font-size: 4vw;
    font-weight: 9000;
    margin: 5vw 0 0 15vw;     
}

.img p{ 
    color: rgb(241, 225, 225);
    font-size: 1.5vw;
    font-weight: 9000;
    margin: 2vw 0 0 14vw;
    
}

.img button{
    color: white;
    font-size: 1.2vw;
    font-weight: 9000;
    padding: 0.5vw;
    margin: 4vw 0 0 14vw;
    cursor: pointer;
    background-color: #d0a14f;
    border: 2px solid white;
    background-color: red;
    border-radius: 50px;
}


.best{
    
    width: 75%;
    /* background-color: rgb(149, 53, 53); */
    height: 80vh;
    margin-left: 25vw;
    margin-top: 10vh;
    
}

.best h1{
    margin: 5vw 0 0 5vw;
    font-size: 3.5vw;
    font-weight: 1000;

}

.best p{
    margin: 5vw 0 0 5vw;
    font-size: 1.5vw;
    width: 600px;
}
.best h3{
    margin: 5vw 0 0 5vw;
    font-size: 1.9vw;
    width: 600px;
    color: red;
}

.barberimg{
    display: flex;
    
  
}

.barberimg  .bimgdiv1 , .bimgdiv2{
    height: 35vh;
    width: 28vw;
    background-color: rgba(208,161,79,255);
    border-radius: 20px;
    margin: 4vw 0 0 5vw;
    

}

/* .barberimg .bimgdiv2{
    height: 35vh;
    width: 28vw;
    background-color: rgba(208,161,79,255);
    border-radius: 20px;
    margin: 4vw 0 0 5vw;


} */

.barberimg .bimgdiv1 .bimg1 , .bimgdiv2 .bimg2{
    height: 35vh;
    width: 27vw;
    background-color: royalblue;
    border-radius: 20px;
    transform: rotate(7.5deg);
    background-image: url(https://images.unsplash.com/photo-1562004760-aceed7bb0fe3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1976&q=80);
    background-size: cover;
    background-position: center;
    
   
}

.barberimg .bimgdiv2 .bimg2{
    background-image: url(https://images.unsplash.com/photo-1543965170-4c01a586684e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGJhcmJlciUyMG1hbnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60);
}


.binfo1 , .binfo2{
    width: 19vw;
    height:6vh;
    background-color: rgb(251, 248, 248);
    border-radius: 20px;
  position: absolute;
  top: 75%;
  left: 15%;
  transform: rotate(0deg);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.binfo1 ,.binfo2 h5{
    /* margin-top: 0.8vw;
    margin-left: 0.8vw; */
    color: rgb(245, 67, 67);
}

.binfo1  i{
    font-size: 1.5vw;
    color: blue;
    cursor: pointer;
    border-radius: 50%;
}

.binfo2 i{
    font-size: 1.5vw;
    color: blue;
    cursor: pointer;
    border-radius: 50%;
}

.binfo1  .ri-whatsapp-fill{
    color: #d0a14f;
}

 .binfo2 .ri-whatsapp-fill{
    color: #d0a14f;
 }
 
 

 /* *************** */

 
.img2 {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.7;
    margin-left: 25vw;
    width: 79%;
    height: 60vh;
    opacity: 0.7;
    background-color: #d0a14f;
    z-index: 1;
     background-image: url(https://plus.unsplash.com/premium_photo-1677444546739-21b8aad351d4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);

}

.img2 h1{
    color:#d0a14f;
    font-size: 4vw;
    font-weight: 9000;
    margin: 15vw 0 0 12vw;     
}

.img2 p{ 
    color:white;
    font-size: 1.5vw;
    font-weight: 9000;
    margin: 2vw 0 0 14vw;
    
}

.img2 button{
    color: white;
    font-size: 1.2vw;
    font-weight: 9000;
    padding: 1.1vw;
    margin: 10vh 0 0 14vw;
    cursor: pointer;
    border: 2px solid white;
    background-color: red;
    border-radius: 50px;
}

/* ******* */

.services h1{
    margin-left: 30vw;
    margin-top: 5vw;
    font-size: 5vw;
    font-weight: 800;
}

.servicbox{
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
}

.servicbox1{
    width: 30vw;
    height: 40vh;
    background-color: aquamarine;
    border-radius: 20px;
    margin-left: 30vw;
    margin-top: 5vw;
    background-image: url();

}

.servicbox2{
  width: 30vw;
  height: 40vh;
  background-color: #d0a14f;
  margin-top: 5vw;
  border-radius: 20px;
  margin-left: 5vw;

}

.servicbox3{
    width: 30vw;
    height: 40vh;
    background-color: #d0a14f;
    margin-top: 5vw;
    border-radius: 20px;
    margin-left: 30vw;
  
  }
  .servicbox4{
    width: 30vw;
    height: 40vh;
    background-color: #d0a14f;
    margin-top: 5vw;
    border-radius: 20px;
    margin-left: 5vw;
  
  }